Repository openreview/openreview-py, pull requests merged in 2025-03, with the labels that each got.

#2524 Comment Stage: add a new setting to notify PCs for direct comments only
  openreview/arr/process/comment_process.py
  openreview/conference/helpers.py
  openreview/stages/venue_stages.py
  openreview/venue/group.py
  openreview/venue/invitation.py
  openreview/venue/process/comment_process.py
  openreview/venue_request/venue_request.py
  tests/test_cvpr_conference_v2.py
  tests/test_venue_request_v2.py
Labels: iccv_2025

#2526 Custom Stage: let create a custom stage for any reply
  openreview/stages/venue_stages.py
  openreview/venue/group.py
  openreview/venue/invitation.py
  openreview/venue/process/custom_stage_process.py
  openreview/venue/process/invitation_edit_process.py
  openreview/venue/process/metareview_process.py
  openreview/venue/process/review_process.py
  openreview/venue/process/review_rebuttal_process.py
  tests/test_icml_conference.py
Labels: icml_2025

#2502 Fix: ARR PC Console Filter/Email Changes
  openreview/arr/webfield/programChairsWebfield.js
  tests/test_arr_venue_v2.py
Labels: arr

#2544 Custom Stage: use end of invitation name to check if it is a rebuttal
  openreview/venue/process/invitation_edit_process.py
  tests/test_venue_request_v2.py
Labels: icml_2025
